/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #0b4436;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}